.button-container {
	display:-webkit-flex;
	display:flex;
	-webkit-align-items:center;
	align-items:center;
	-webkit-justify-content:center;
	justify-content:center;
	color:#fff;
	background-color:#228b22;
	min-width:100px;
	padding:5px;
	cursor:pointer;
	border-radius:4px;
	-webkit-transition:background-color .5s ease;
	transition:background-color .5s ease
}
.button-container,
.icon {
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none
}
.icon {
	font-size:1.2rem;
	line-height:0
}
.input-container {
	margin:0 10px
}
.input-container input {
	outline:none;
	border:1px solid #a9a9a9;
	padding:5px;
	border-radius:4px
}
.input-container.invalid input {
	box-shadow:0 0 3px 0 #8b0000
}
.groups-list-container {
	display:-webkit-flex;
	display:flex;
	-webkit-flex-direction:column;
	flex-direction:column
}
.groups-list-container ul {
	padding-left:1rem
}
.groups-list-container .button-container {
	margin-left:10px
}
.group-item {
	margin:5px 0;
	-webkit-transition:.3s;
	transition:.3s
}
.group-item .icon {
	margin-left:10px
}
.group-container .flex-col {
	margin:20px 0
}
.group-container .button-container {
	margin:0 10px
}
.group-container a {
	display:-webkit-flex;
	display:flex;
	-webkit-align-items:center;
	align-items:center;
	text-transform:uppercase;
	font-size:.8rem
}
.group-container a:first-child .icon {
	margin-right:10px
}
.flex-col .team-list ol {
	padding-left:3rem
}
.new-team-controls .input-container {
	-webkit-flex:1 1;
	flex:1 1
}
.new-team-controls .input-container input {
	width:100%
}
.team-list .team-item {
	position:relative;
	margin-bottom:5px;
	-webkit-transition:.3s;
	transition:.3s
}
.team-list .icon {
	position:absolute;
	left:-2.5rem;
	top:50%
}
.match-list {
	max-height:40vh;
	overflow-y:auto
}
.match-list .match-team {
	max-width:50%;
	overflow-x:hidden;
	text-overflow:ellipsis
}
.match-list .match-team:first-child {
	text-align:right
}
.match-list input {
	text-align:center;
	width:40px
}
.match-item {
	-webkit-transition:.3s;
	transition:.3s;
    margin-bottom:5px
}
.match-item:not(:last-child) {
	margin-bottom:5px
}
* {
	box-sizing:border-box
}
body {
	margin:0;
	padding:0;
	font-family:sans-serif
}
.app-container {
	display:-webkit-flex;
	display:flex;
	-webkit-justify-content:center;
	justify-content:center;
	padding:3%
}
.flex,
.flex-between {
	display:-webkit-flex;
	display:flex;
	-webkit-align-items:center;
	align-items:center
}
.flex-between {
	-webkit-justify-content:space-between;
	justify-content:space-between
}
.flex-col {
	display:-webkit-flex;
	display:flex;
	-webkit-flex-direction:column;
	flex-direction:column
}
.flex-grow {
	-webkit-flex:1 1;
	flex:1 1
}
a {
	text-decoration:none;
	color:inherit
}
.list-item-enter {
	opacity:0
}
.list-item-enter-active,
.list-item-exit {
	opacity:1
}
.list-item-exit-active {
	opacity:0
}
